# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: daily
      timezone: "America/Mexico_City"
    reviewers:
      - "edgarrmondragon"
    labels:
      - "dependencies"
    allow:
      - dependency-type: "development"
    commit-message:
      prefix: "chore(deps): "
      prefix-development: "chore(deps-dev): "
  - package-ecosystem: pip
    directory: "/.github/workflows"
    schedule:
      interval: daily
      timezone: "America/Mexico_City"
    reviewers:
      - "edgarrmondragon"
    labels:
      - "dependencies"
    commit-message:
      prefix: "ci: "
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    reviewers:
      - "edgarrmondragon"
    commit-message:
      prefix: "ci: "
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "edgarrmondragon"
    commit-message:
      prefix: "ci: "
