[flake8]
select = ANN,BLK,C,D,DAR,E,F,W
docstring-convention = google
ignore = ANN101,E203,W503,WPS
max-line-length = 88
max-complexity = 10
per-file-ignores =
    tests/*:S101,ANN
    noxfile.py:ANN
