ci:
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autofix_prs: true
  autoupdate_schedule: monthly
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip:
  - pip-compile

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-added-large-files
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: \.changes/.*\.md
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.3
  hooks:
  - id: check-dependabot
  - id: check-github-workflows
  - id: check-readthedocs

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.4
  hooks:
  - id: ruff
    name: Ruff lint
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
  - id: ruff
    name: Ruff format
    entry: ruff format

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    # TODO: Use inline ignores, e.g. # codespell:ignore intoto
    # https://github.com/codespell-project/codespell/issues/3387
    args: [-L, intoto]
    additional_dependencies:
    - tomli

- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - pydoclint==0.4.1

- repo: https://github.com/pre-commit/pre-commit
  rev: v3.7.1
  hooks:
  - id: validate_manifest

- repo: https://github.com/hadialqattan/pycln
  rev: v2.4.0
  hooks:
  - id: pycln
    args: [--all]

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "1.8.0"
  hooks:
  - id: pyproject-fmt

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.1.42
  hooks:
  - id: pip-compile
    files: ^pyproject\.toml$
    args: ["pyproject.toml", "--extra", "docs", "-o", "docs/requirements.txt"]
    language_version: python3.12
