ci:
  autofix_commit_msg: 'chore: pre-commit auto fixes'
  autofix_prs: true
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip:
  - pip-compile
  - uv-lock

default_language_version:
    python: python3.13

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: \.changes/.*\.md
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: trailing-whitespace

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.31.3
  hooks:
  - id: check-github-workflows
  - id: check-readthedocs
  - id: check-renovate
    language: python
    additional_dependencies:
    - pyjson5==1.6.8

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.2
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
  - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    exclude: |
      (?x)^(
        uv\.lock|
        requirements/requirements.*\.txt
      )$

- repo: https://github.com/pre-commit/pre-commit
  rev: v4.1.0
  hooks:
  - id: validate_manifest

- repo: https://github.com/hadialqattan/pycln
  rev: v2.5.0
  hooks:
  - id: pycln
    args: [--all]

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.1"
  hooks:
  - id: pyproject-fmt

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.5
  hooks:
  - id: uv-lock
  - id: uv-sync
  - id: uv-export
    name: Export Docs Dependencies
    files: ^uv\.lock$
    args: ["--frozen", "--no-editable", "--output-file=requirements/requirements-docs.txt", "--only-group=docs", "--no-hashes"]
  - id: uv-export
    name: Export Test Dependencies
    files: ^uv\.lock$
    args: ["--frozen", "--output-file=requirements/requirements-test.txt", "--no-dev", "--only-group=test"]
  - id: uv-export
    name: Export Typing Dependencies
    files: ^uv\.lock$
    args: ["--frozen", "--output-file=requirements/requirements-typing.txt", "--only-group=typing"]
  - id: uv-export
    name: Export Runtime Dependencies
    files: ^uv\.lock$
    args: ["--frozen", "--output-file=requirements/requirements-highest.txt", "--no-dev", "--no-hashes", "--no-emit-project"]
  - id: pip-compile
    name: pip-compile Lowest Direct
    files: ^pyproject\.toml$
    args: ["pyproject.toml", "--universal", "--resolution=lowest-direct", "-o=requirements/requirements-lowest-direct.txt"]

- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
  - id: mdformat
    exclude: \.github/pull_request_template\.md
