services:
  limesurvey:
    volumes:
      - "surveys:/var/www/html/upload/surveys"
      - "./tests/resources/config.php:/var/www/html/application/config/config.php"
    environment:
      DB_TYPE: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: limesurvey
      DB_USERNAME: limesurvey
      DB_PASSWORD: secret
      ADMIN_USER: ${LS_USER:-iamadmin}
      ADMIN_NAME: Lime Administrator
      ADMIN_PASSWORD: ${LS_PASSWORD:-admin}

  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: limesurvey
      MYSQL_USER: limesurvey
      MYSQL_PASSWORD: secret
    volumes:
      - "mysql:/var/lib/mysql"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "limesurvey", "-psecret"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s

volumes:
  mysql:
  surveys:
