version: '3'

services:
  limesurvey:
    image: martialblog/limesurvey:${LS_IMAGE_TAG:-5-apache}
    volumes:
      - "surveys:/var/www/html/upload/surveys"
      - "./tests/resources/config.php:/var/www/html/application/config/config.php"
    depends_on:
      - db
    ports:
      - "${LS_PORT:-8001}:8080"
    environment:
      DB_TYPE: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: limesurvey
      DB_USERNAME: limesurvey
      DB_PASSWORD: secret
      ADMIN_USER: ${LS_USER}
      ADMIN_NAME: Lime Administrator
      ADMIN_PASSWORD: ${LS_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/index.php/admin"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 15s

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: limesurvey
      POSTGRES_DB: limesurvey
      POSTGRES_PASSWORD: secret
    volumes:
      - "limedb:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "limesurvey"]
      interval: 1m30s
      timeout: 30s
      retries: 3

  storage:
    image: quay.io/minio/minio:latest
    volumes:
      - "object_storage:/data/"
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    profiles:
      - web

volumes:
  limedb:
  surveys:
  object_storage:
