[tool.poetry]
name = "citric"
version = "0.0.5"
description="A client to the LimeSurvey Remote Control API 2, written in modern Python."
license = "MIT"
authors = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
maintainers = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
homepage='https://github.com/edgarrmondragon/citric'
repository='https://github.com/edgarrmondragon/citric'
readme = "README.md"
documentation = "https://citric.readthedocs.io"
classifiers=[
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
keywords = ["limesurvey", "json-rpc"]

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/edgarrmondragon/citric/issues"

[tool.poetry.dependencies]
python = "^3.6.2,<3.11"
requests = "^2.23.0"
importlib_metadata = {version = ">=1.6,<5.0", python = "<3.8"}

[tool.poetry.dev-dependencies]
pytest = "^6.0.0"
pytest-cov = "^3.0.0"
coverage = {extras = ["toml"], version = "^6.2"}
black = "^21.12b0"
flake8 = "^3.8.2"
flake8-black = "^0.2.0"
flake8-isort = "^4.1.1"
safety = "^1.9.0"
codecov = "^2.1.4"
flake8-annotations = "^2.1.0"
mypy = "^0.920"
pytype = {version = "^2021.11.2", python = "^3.6,<3.8"}
flake8-docstrings = "^1.5.0"
darglint = "^1.4.0"
xdoctest = "^0.15.10"
sphinx = "4.3.1"
sphinx-autodoc-typehints = "1.12.0"
sphinx-autoapi = "^1.4.0"
furo= "==2021.11.23"
psycopg2-binary = "^2.9.2"
types-requests = "^2.26.2"
colorama = "^0.4.4"
pyupgrade = "^2.29.1"
myst-parser = "^0.16.1"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["citric"]

[tool.coverage.report]
show_missing = true
fail_under = 90

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "citric"

[tool.pytest.ini_options]
markers = [
    "integration_test: Integration and end-to-end tests",
]
addopts = '--cov -vvv -m "not integration_test"'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
