[tool.poetry]
name = "citric"
version = "0.0.12"
description="A client to the LimeSurvey Remote Control API 2, written in modern Python."
license = "MIT"
authors = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
maintainers = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
homepage='https://github.com/edgarrmondragon/citric'
repository='https://github.com/edgarrmondragon/citric'
readme = "README.md"
documentation = "https://citric.readthedocs.io"
classifiers=[
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
keywords = ["limesurvey", "json-rpc"]

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/edgarrmondragon/citric/issues"

[tool.poetry.dependencies]
python = "^3.7.0"
requests = "^2.23.0"
importlib_metadata = {version = ">=1.6,<5.0", python = "<3.8"}

# Docs
sphinx = { version = "4.5.0", optional = true }
sphinx-autodoc-typehints = { version = "1.17.0", optional = true }
sphinx-autoapi = { version = "1.8.4", optional = true }
myst-parser = { version = "0.17.0", optional = true }
furo = { version = "2022.3.4", optional = true }
sphinx-autobuild = {version = "^2021.3.14", optional = true}

# Jupyter
jupyterlab = { version = "^3.2.5", optional = true }
ipykernel = {version = "^6.8.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
coverage = {extras = ["toml"], version = "^6.2"}
black = "^22.1"
flake8 = "^4.0.0"
flake8-black = "^0.3.0"
flake8-isort = "^4.1.1"
safety = "^1.9.0"
codecov = "^2.1.4"
flake8-annotations = "^2.1.0"
mypy = "^0.931"
pytype = {version = "^2022.1.5", python = "<3.8"}
flake8-docstrings = "^1.5.0"
darglint = "^1.4.0"
xdoctest = "^1.0.0"
psycopg2-binary = "^2.9.3"
types-requests = "^2.27.8"
colorama = "^0.4.4"
pyupgrade = "^2.31.0"
isort = "^5.10.1"
types-psycopg2 = "^2.9.6"

[tool.poetry.extras]
docs = [
    "sphinx",
    "sphinx-autodoc-typehints",
    "sphinx-autoapi",
    "myst-parser",
    "furo",
    "sphinx-autobuild",
]
jupyter = [
    "jupyterlab",
    "ipykernel",
]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["citric"]

[tool.coverage.report]
show_missing = true
fail_under = 90

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "citric"
use_parentheses = true
known_first_party = "citric"
include_trailing_comma = true
add_imports = [
    "from __future__ import annotations",
]

[tool.pytest.ini_options]
markers = [
    "integration_test: Integration and end-to-end tests",
]
addopts = '-vvv -m "not integration_test"'

[[tool.mypy.overrides]]
module = [
    "nox.*",
    "nox_poetry.*",
    "pytest.*",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
