[tool.poetry]
name = "citric"
version = "0.0.1"
description="A client to the LimeSurvey Remote Control API 2, written in modern Python."
license = "MIT"
authors = ["Edgar Ramírez-Mondragón <edgarrm358@gmail.com>"]
homepage='https://github.com/edgarrmondragon/citric'
repository='https://github.com/edgarrmondragon/citric'
readme = "README.md"
documentation = "https://citric.readthedocs.io"
classifiers=[
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
keywords = ["limesurvey", "json-rpc"]

[tool.poetry.dependencies]
python = "^3.6.2,<3.10"
requests = "^2.23.0"
importlib_metadata = {version = "^1.6.0", python = "<3.8"}

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
pytest-cov = "^2.9.0"
coverage = {extras = ["toml"], version = "^5.1"}
black = "^21.10b0"
flake8 = "^3.8.2"
flake8-black = "^0.2.0"
flake8-isort = "^3.0.0"
safety = "^1.9.0"
codecov = "^2.1.4"
flake8-annotations = "^2.1.0"
mypy = "^0.780"
pytype = {version = "^2020.6.1", python = "^3.6,<3.8"}
flake8-docstrings = "^1.5.0"
darglint = "^1.4.0"
xdoctest = "^0.12.0"
sphinx = "4.3.0"
sphinx-autodoc-typehints = "1.11.0"
sphinx-autoapi = "^1.4.0"
psycopg2-binary = "^2.9.1"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["citric"]

[tool.coverage.report]
show_missing = true
fail_under = 90

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
