name: API Changes

on:
  pull_request:
    paths:
    - src/**
    - .github/workflows/api-changes.yml
    - CHANGELOG.md

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  check-api-changes:
    name: Check API Changes
    runs-on: ubuntu-latest
    env:
      NOXSESSION: api
    steps:
    - name: Check out the repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
      with:
        python-version: 3.12

    - name: Install tools
      env:
        PIP_CONSTRAINT: .github/workflows/constraints.txt
      run: |
        python -Im pip install -U pip
        pipx install griffe nox uv
        pipx list

    - name: Set REF
      id: set-ref
      if: always() && !startsWith(github.head_ref, 'release/')
      run: |
        echo "ref=${{ github.event.pull_request.base.sha }}" >> $GITHUB_OUTPUT

    # Check API against the latest commit on the base branch
    - name: Run Nox
      run: |
        nox -- ${{ steps.set-ref.outputs.ref }}
