name: Build

on:
  push:
  workflow_dispatch:
    inputs:
      publish:
        description: "Publish to PyPI?"
        required: true
        default: false
        type: boolean
      tag:
        description: "Tag to use for release"
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Build wheel and sdist
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.baipp.outputs.package_version }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: ${{ github.event.inputs.tag || github.ref }}
        persist-credentials: false
    - uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
      id: baipp

  publish:
    name: Publish to PyPI
    if: startsWith(github.ref, 'refs/tags/') || github.event.inputs.publish == 'true'
    runs-on: ubuntu-24.04
    needs: [build]
    environment:
      name: pypi
      url: https://pypi.org/project/citric/${{ needs.build.outputs.version }}
    permissions:
      id-token: write # IMPORTANT: mandatory for trusted publishing

    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: Packages
        path: dist
    - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

  sign:
    name: Sign the distribution package
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-24.04
    needs: [build]
    permissions:
      contents: write     # IMPORTANT: mandatory for making GitHub Releases
      id-token: write     # IMPORTANT: mandatory for attestations
      attestations: write # IMPORTANT: mandatory for attestations

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: Packages
          path: dist
      - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        id: attest
        with:
          subject-path: "./dist/citric*"
      - uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
        with:
          file: ${{ steps.attest.outputs.bundle-path }}
          tag: ${{ github.event.inputs.tag || github.ref }}
          overwrite: false
          asset_name: attestations.intoto.jsonl
