name: Generate release Pull Request

on:
  workflow_dispatch:
    inputs:
      next-version:
        description: 'Next version use vX.Y.Z, patch, minor or major'
        default: 'auto'
        required: true
      changie-version:
        description: Version of Changie to use
        default: latest
        required: false
      prerelease:
        description: Prerelease values to append to version
        required: false
      metadata:
        description: Metadata values to append to version
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.17

jobs:
  generate-pr:
    name: Generate release Pull Request
    runs-on: ubuntu-24.04
    permissions:
      contents: write       # to create a github release
      pull-requests: write  # to create and update PRs
      discussions: write    # to create a discussion
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Batch changes
      uses: miniscruff/changie-action@5036dffa79ffc007110dc7f75eca7ef72780e147 # v2.1.0
      with:
        version: ${{ github.event.inputs.changie-version }}
        args: "\
          batch
          ${{ github.event.inputs.next-version }}
          ${{ github.event.inputs.prerelease && format('-p {0}', github.event.inputs.prerelease) }}
          ${{ github.event.inputs.metadata && format('-m {0}', github.event.inputs.metadata) }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Merge changes
      uses: miniscruff/changie-action@5036dffa79ffc007110dc7f75eca7ef72780e147 # v2.1.0
      with:
        version: ${{ github.event.inputs.changie-version }}
        args: merge
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get the latest version
      id: latest
      uses: miniscruff/changie-action@5036dffa79ffc007110dc7f75eca7ef72780e147 # v2.1.0
      with:
        version: ${{ github.event.inputs.changie-version }}
        args: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: ${{ env.UV_VERSION }}
        enable-cache: false

    - name: Lock dependencies
      run: uv lock

    - name: Draft Release
      id: draft-release
      if: ${{ github.event.inputs.prerelease == '' }}
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        draft: true
        body_path: ".changes/${{ steps.latest.outputs.output }}.md"
        tag_name: ${{ steps.latest.outputs.output }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      id: generate-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
      with:
        token: ${{ steps.generate-token.outputs.token }}
        title: "chore: Release ${{ steps.latest.outputs.output }}"
        branch: release/${{ steps.latest.outputs.output }}
        commit-message: "chore: Release ${{ steps.latest.outputs.output }}"
        body: |
          Prepare release for `${{ steps.latest.outputs.output }}`.

          Checklist:

          - [ ] Check that the right version is set in all the files.
          - [ ] Groom the changelog for wording or missing entries.
          - [ ] Check that the integration tests table is up to date.

          [Release Draft](${{ steps.draft-release.outputs.url }})
        reviewers: |
          edgarrmondragon
        assignees: |
          edgarrmondragon
        delete-branch: true
        labels: Release
