name: Generate release Pull Request

on:
  workflow_dispatch:
    inputs:
      next-version:
        description: 'Next version use vX.Y.Z, patch, minor or major'
        default: 'auto'
        required: true
      changie-version:
        description: Version of Changie to use
        default: latest
        required: false
      prerelease:
        description: Prerelease values to append to version
        required: false
      metadata:
        description: Metadata values to append to version
        required: false

jobs:
  generate-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.0

    - name: Batch changes
      uses: miniscruff/changie-action@v1.0.1
      with:
        version: ${{ github.event.inputs.changie-version }}
        args: "\
          batch
          ${{ github.event.inputs.next-version }}
          ${{ github.event.inputs.prerelease && format('-p {0}', github.event.inputs.prerelease) || '--remove-prereleases' }}
          ${{ github.event.inputs.metadata && format('-m {0}', github.event.inputs.metadata) }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Merge changes
      uses: miniscruff/changie-action@v1.0.1
      with:
        version: ${{ github.event.inputs.changie-version }}
        args: merge
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get the latest version
      id: latest
      uses: miniscruff/changie-action@v1.0.1
      with:
        version: ${{ github.event.inputs.changie-version }}
        args: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Draft Release
      id: draft-release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        body_path: ".changes/${{ steps.latest.outputs.output }}.md"
        tag_name: ${{ steps.latest.outputs.output }}
        prerelease: "${{ github.event.inputs.prerelease != '' }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5.0.0
      with:
        title: "chore: Release ${{ steps.latest.outputs.output }}"
        branch: release/${{ steps.latest.outputs.output }}
        commit-message: "chore: Release ${{ steps.latest.outputs.output }}"
        body: "Prepare release for `${{ steps.latest.outputs.output }}`"
        reviewers: |
          edgarrmondragon
        assignees: |
          edgarrmondragon
        delete-branch: true
