name: Generate release Pull Request

on:
  workflow_dispatch:
    inputs:
      next-version:
        description: 'Next version use vX.Y.Z, patch, minor or major'
        default: 'patch'
        required: true
      changie-version:
        description: Version of Changie to use
        default: "1.8.0"
        required: false
      prerelease:
        description: Prerelease values to append to version
        required: false
      metadata:
        description: Metadata values to append to version
        required: false

jobs:
  generate-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2

    - name: Setup Changie
      run: |
        curl -sSLO https://github.com/miniscruff/changie/releases/download/v${{ github.event.inputs.changie-version }}/changie_${{ github.event.inputs.changie-version }}_linux_amd64.deb \
          && sudo dpkg -i changie_${{ github.event.inputs.changie-version }}_linux_amd64.deb && rm changie_${{ github.event.inputs.changie-version }}_linux_amd64.deb

    - name: Batch and merge
      run: >
        changie batch
        ${{ github.event.inputs.next-version }}
        ${{ github.event.inputs.prerelease && format('-p {0}', github.event.inputs.prerelease) || '--remove-prereleases' }}
        ${{ github.event.inputs.metadata && format('-m {0}', github.event.inputs.metadata) }}

    - name: Changie merge
      run: |
        changie merge
        echo RELEASE_VERSION=$(changie latest) >> $GITHUB_ENV

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4.0.4
      with:
        title: "chore: Release ${{ env.RELEASE_VERSION }}"
        branch: release/${{ env.RELEASE_VERSION }}
        commit-message: "chore: Release ${{ env.RELEASE_VERSION }}"
        body: "Prepare release for `${{ env.RELEASE_VERSION }}`"
        reviewers: |
          edgarrmondragon
        assignees: |
          edgarrmondragon
        delete-branch: true
