name: Update LimeSurvey Docker tags

on:
  workflow_dispatch: {}
  schedule:
    # Weekly on Saturday at 14:00 UTC
    - cron: '0 14 * * 6'
env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.11.12
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.13

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  update-tags:
    name: Update tags
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write  # to create and update PRs
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        nox-version: ${{ env.NOX_VERSION }}
        uv-version: ${{ env.UV_VERSION }}
    - name: Update tags
      run: nox -s generate-tags
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      id: generate-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
      with:
        token: ${{ steps.generate-token.outputs.token }}
        title: "chore: Update LimeSurvey Docker tags"
        branch: docker/update-tags
        commit-message: "chore: Update LimeSurvey Docker tags"
        body: |
          This PR updates the tags for the LimeSurvey Docker images.

          Links:

          - [Docker Hub](https://hub.docker.com/r/martialblog/limesurvey/tags)
          - [LimeSurvey tags](https://github.com/LimeSurvey/LimeSurvey/tags)
        reviewers: |
          edgarrmondragon
        assignees: |
          edgarrmondragon
        delete-branch: true
