name: Update LimeSurvey Docker tags

on:
  workflow_dispatch: {}
  schedule:
    # Weekly on Saturday at 14:00 UTC
    - cron: '0 14 * * 6'
env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.5.1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.8.17

permissions: {}

jobs:
  update-tags:
    name: Update tags
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write  # to create and update PRs
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        nox-version: ${{ env.NOX_VERSION }}
        uv-version: ${{ env.UV_VERSION }}
    - name: Update tags
      run: nox -s generate-tags
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
      id: generate-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ steps.generate-token.outputs.token }}
        title: "chore: Update LimeSurvey Docker tags"
        branch: docker/update-tags
        commit-message: "chore: Update LimeSurvey Docker tags"
        body: |
          This PR updates the tags for the LimeSurvey Docker images.

          Links:

          - [Docker Hub](https://hub.docker.com/r/martialblog/limesurvey/tags)
          - [LimeSurvey tags](https://github.com/LimeSurvey/LimeSurvey/tags)
        reviewers: |
          edgarrmondragon
        assignees: |
          edgarrmondragon
        delete-branch: true
