name: Read the Docs Pull Request Preview

on:
  pull_request_target:
    types:
    - opened

permissions:
  pull-requests: write

jobs:
  pr-preview-links:
    runs-on: ubuntu-latest
    steps:
    - uses: readthedocs/actions/preview@cc0920454cf03ca8a3fbd3cbaa2ce2e509e70636 # v1.2
      with:
        project-slug: "citric"
