name: Read the Docs Pull Request Preview

on:
  pull_request_target:
    types:
    - opened
    paths:
    - .github/workflows/pr-preview-links.yml
    - docs/**

jobs:
  pr-preview-links:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    steps:
    - uses: readthedocs/actions/preview@cc0920454cf03ca8a3fbd3cbaa2ce2e509e70636 # v1.2
      with:
        project-slug: "citric"
