name: Tests

permissions: {}

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
    - examples/**
    - src/**
    - tests/**
    - compose*.yaml
    - noxfile.py
    - pyproject.toml
    - .github/workflows/tests.yml
    - .github/workflows/resources/tags.json
    - .github/actions/install-tools/action.yml
  push:
    branches:
    - 'main'
    paths:
    - examples/**
    - src/**
    - tests/**
    - compose*.yaml
    - noxfile.py
    - pyproject.toml
    - .github/workflows/tests.yml
    - .github/workflows/resources/tags.json
    - .github/actions/install-tools/action.yml
  schedule:
  - cron: "25 7 * * 1"
  workflow_dispatch:
    inputs:
      all_integrations:
        description: "Test against all the latest LimeSurvey docker image tags and all database engines"
        required: true
        default: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.11.12
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.26

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} / ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    env:
      COVERAGE_FILE: ".coverage.unit"
      NOXFORCEPYTHON: "${{ matrix.python-version }}"
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: "3.14"
          os: ubuntu-24.04

        - python-version: "3.13"
          os: ubuntu-24.04

        - python-version: "3.12"
          os: ubuntu-24.04

        - python-version: "3.11"
          os: ubuntu-24.04

        - python-version: "3.10"
          os: ubuntu-24.04

        - python-version: "3.15"
          os: ubuntu-24.04

        - python-version: "3.14"
          os: windows-2025

        - python-version: "3.14"
          os: macos-15

    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        allow-prereleases: true

    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        nox-version: ${{ env.NOX_VERSION }}
        uv-version: ${{ env.UV_VERSION }}

    - name: Run Tests
      run: |
        nox --verbose -s tests -- --junit-xml=tests.xml

    - name: Upload coverage data
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        include-hidden-files: true
        name: "coverage-unit-${{ matrix.os }}-${{ matrix.python-version }}"
        path: ".coverage.*"

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: tests.xml
        flags: unit-${{ matrix.os }}-${{ matrix.python-version }}

    - name: Run Doctests
      run: |
        nox -s xdoctest

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x

    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        nox-version: ${{ env.NOX_VERSION }}
        uv-version: ${{ env.UV_VERSION }}

    - uses: j178/prek-action@9d6a3097e0c1865ecce00cfb89fe80f2ee91b547 # v1.0.12
    - run: nox -t lint

  docker_tags:
    name: Get Docker tags
    runs-on: ubuntu-24.04
    outputs:
      tags: ${{ steps.tags.outputs.tags }}
    permissions:
      contents: read
    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Output tags
      id: tags
      run: |
        echo "tags=$(cat .github/workflows/resources/tags.json | jq -c .)" >> $GITHUB_OUTPUT

  integration:
    name: "Python ${{ matrix.python-version }} / ${{ matrix.image_tag || matrix.ref }} / ${{ matrix.database }}"
    runs-on: ubuntu-24.04
    continue-on-error: true
    needs: [docker_tags]
    permissions:
      contents: read
    env:
      COVERAGE_FILE: ".coverage.integration"
      LS_IMAGE_TAG: ${{ matrix.image_tag }}
      LS_REF: ${{ matrix.ref }}
      LS_USER: citric_ci
      LS_PASSWORD: notverysecret
      NOXSESSION: integration
      NOXFORCEPYTHON: "${{ matrix.python-version }}"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.14"]
        database: ["postgres"]
        ref: [""]
        context: [""]
        image_tag: ${{ fromJson(needs.docker_tags.outputs.tags) }}
        include:
        # Test on other Python versions
        - python-version: "3.10"
          image_tag: "6-apache"
          database: postgres

        - python-version: "3.11"
          image_tag: "6-apache"
          database: postgres

        - python-version: "3.12"
          image_tag: "6-apache"
          database: postgres

        - python-version: "3.13"
          image_tag: "6-apache"
          database: postgres

        - python-version: "3.15"
          image_tag: "6-apache"
          database: postgres

        - python-version: "3.14"
          image_tag: "6-apache"
          database: mysql

        - python-version: "3.14"
          image_tag: "5-apache"
          database: mysql

        # Test Limesurvey/LimeSurvey branches
        - python-version: "3.14"
          ref: refs/heads/develop
          context: https://github.com/martialblog/docker-limesurvey.git#master:6.0/apache
          database: postgres

        - python-version: "3.14"
          ref: refs/heads/master
          context: https://github.com/martialblog/docker-limesurvey.git#master:6.0/apache
          database: postgres

        # - python-version: "3.12"
        #   ref: refs/pull/3860/head
        #   context: https://github.com/martialblog/docker-limesurvey.git#master:6.0/apache
        #   database: postgres

    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        allow-prereleases: true

    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        nox-version: ${{ env.NOX_VERSION }}
        uv-version: ${{ env.UV_VERSION }}

    - name: Run Nox
      id: nox-integration
      env:
        LS_DATABASE_TYPE: ${{ matrix.database }}
        LS_DOCKER_CONTEXT: ${{ matrix.context }}
        LS_DOCKERFILE: Dockerfile
      run: |
        nox -- --junit-xml=integration.xml

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: integration.xml
        flags: integration-${{ matrix.python-version }}-${{ matrix.image_tag || matrix.ref }}-${{ matrix.database }}

    - if: always()
      env:
        REF: ${{ matrix.ref }}
      run: |
        echo "CLEAN_REF=$(echo "$REF" | tr / -)" >> $GITHUB_ENV

    - name: Upload coverage data
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        include-hidden-files: true
        name: "coverage-integration-${{ matrix.python-version }}-${{ matrix.image_tag || env.CLEAN_REF }}-${{ matrix.database }}"
        path: ".coverage.*"

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    needs: [tests, integration]
    permissions:
      contents: read
    env:
      NOXSESSION: coverage
    strategy:
      matrix:
        flag: ["unit", "integration"]
      fail-fast: false
    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.x"

    - name: Install tools
      uses: ./.github/actions/install-tools
      with:
        nox-version: ${{ env.NOX_VERSION }}
        uv-version: ${{ env.UV_VERSION }}

    - name: Download coverage data
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: "coverage-${{ matrix.flag }}-*"
        merge-multiple: true

    - name: Combine coverage data and display human readable report
      continue-on-error: true
      run: |
        nox

    - name: Create coverage report
      run: |
        nox -- xml

    - name: Upload coverage report
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        fail_ci_if_error: true
        flags: ${{ matrix.flag }}
